/* unvisited link */
a {
  text-decoration: none;
}

a:link {
    color: rgb(22, 22, 22);
  }

a:visited {
  color: #000;
}
/* mouse over link */
a:hover {
  color: rgb(33, 1, 85);
}
.wpbeginner_numeric_posts_nav{}
.wpbeginner_numeric_posts_nav div{text-align: center;}
.wpbeginner_numeric_posts_nav div ul{}
.wpbeginner_numeric_posts_nav div ul li{}

#my_thumbnail{
  margin: auto;
}

#profile-box-1{
  margin-bottom: 0;
  height: 100%;}

.container .blog-page > div .row{}
#wp_pagination{ text-align: center;
  margin: 15px 0 10px 0;
  background: #0714e078;
  border-radius: 5px;
  padding: 8px 0 7px 0;}
#wp_pagination > a{ 
  margin: 5px 5px 5px 5px;
  background: #0b00d426;
  border: 1px solid #11111147;
  font-size: 18px;
  padding: 2px 6px 2px 6px;
  border-radius: 7px;}


  #edit-user-post{
    text-align: right;

  }
  #edit-user-post>a{ 
    padding: 4px 8px 4px 8px;
    margin: 1px 4px 9px 6px;
  }

  #index >{}
  #index > .single_post{}

.pagination-1{text-align: center;}
.pagination-2{}






.carousel-inner>.carousel-item >.bd-placeholder-img{    
  max-height: 300px;
  object-fit: cover;
  width: 100%;
}
#myCarousel{margin-top: 30px;}